fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-dotenv
streamlit
pandas
langchain==1.2.7
langchain-core==1.2.7
langchain-openai==1.1.7
langchain-pinecone==0.2.13
langchain-community
langgraph
langsmith
pinecone==7.3.0
supabase==2.27.2
tavily-python
python-multipart
httpx